@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900';
body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #000;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100%;
  max-height: 100%;
  -webkit-overflow-scrolling: touch; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: auto; }

header {
  z-index: 100000;
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }
  header nav ul {
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px; }
    header nav ul li {
      display: inline-block;
      font-weight: 700;
      font-size: 15px; }
  header .logo {
    display: inline-block; }
    header .logo img {
      width: 85px;
      height: auto; }
  header .header-aligner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    margin: auto;
    left: 0;
    right: 0; }

.nav-height {
  height: 55px; }

.heading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-height: 1270px; }
  .heading-page .slider-cont {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 55px 50px;
    box-sizing: border-box; }
    .heading-page .slider-cont .slider {
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
      overflow: hidden; }

.slide {
  width: 100%;
  height: 100%;
  display: inline-block; }
  .slide.s-1 {
    background-image: url("../img/slides/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .slide.s-1 .head-box {
      background-color: #fff;
      display: inline-block;
      padding: 10px 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .slide.s-1 .head-box h3 {
        font-size: 19px;
        font-weight: 400;
        text-align: center; }

section .sec-title {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  margin: 50px auto 50px auto;
  color: #505050; }

.projects {
  width: 100vw;
  display: inline-block;
  padding-bottom: 40px;
  background-image: url("../img/line.png");
  background-repeat: both;
  background-position: center;
  background-color: #fdfdfd; }
  .projects main {
    width: 70%;
    margin: 0 auto; }
    .projects main article {
      display: inline-block;
      margin-bottom: 30px;
      position: relative;
      width: 100%; }
      .projects main article .desc {
        display: inline-block;
        width: 48%;
        position: absolute;
        bottom: 25px; }
        .projects main article .desc .desc-marg {
          margin-left: 10%; }
          .projects main article .desc .desc-marg h2 {
            margin: 0;
            font-weight: 900;
            color: #1f170f;
            opacity: 0.8; }
          .projects main article .desc .desc-marg p {
            margin: 0;
            font-weight: 700;
            opacity: 0.55; }
      .projects main article img {
        display: inline-block;
        height: auto;
        width: 48%;
        transition: 0.3s box-shadow;
        cursor: pointer; }
      .projects main article img:hover {
        box-shadow: 0px 16px 54px -10px rgba(57, 136, 172, 0.6);
        transition: 0.5s box-shadow; }
      .projects main article.right img {
        float: right; }
      .projects main article.left .desc {
        float: right; }
      .projects main article:last-child {
        margin-bottom: 0; }

.about {
  padding: 110px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about .logo img {
      width: 95px;
      height: auto; }
    .about .logo .line {
      width: 55%;
      display: block;
      height: 2px;
      background-color: #1f170f;
      opacity: 0.5;
      margin-top: 15px; }
  .about .self-desc {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #1f170f;
    opacity: 0.75;
    margin: auto; }
  .about .bckg-text {
    font-size: 13vw;
    color: #3556c7;
    opacity: 0.03;
    font-weight: 900;
    left: 0;
    right: 0;
    margin: auto; }

.offer {
  background-color: #3165cb;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 110px 0;
  max-height: 100vh; }
  .offer .main {
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .offer .main .product {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 60px; }
      .offer .main .product .icon {
        width: 60px;
        height: auto; }
      .offer .main .product .product-desc {
        text-align: center;
        margin: 0;
        color: #fff;
        white-space: nowrap;
        margin-top: 15px;
        font-weight: 400; }

.ct-form {
  margin: auto;
  width: 40%; }
  .ct-form fieldset {
    margin-bottom: 20px; }
    .ct-form fieldset label {
      display: block;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: 700; }
    .ct-form fieldset .inpt-text {
      outline: none;
      width: 100%;
      background: none;
      padding: 4px 0;
      font-size: 15px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px rgba(0, 0, 0, 0.5) solid; }
      .ct-form fieldset .inpt-text#message {
        height: 150px;
        width: 100%;
        resize: none; }
    .ct-form fieldset ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-weight: 400; }
    .ct-form fieldset ::-moz-placeholder {
      /* Firefox 19+ */
      font-weight: 400; }
    .ct-form fieldset :-ms-input-placeholder {
      /* IE 10+ */
      font-weight: 400; }
    .ct-form fieldset :-moz-placeholder {
      /* Firefox 18- */
      font-weight: 400; }
    .ct-form fieldset ::-webkit-scrollbar {
      width: 7px;
      background-color: rgba(255, 255, 255, 0.71); }
    .ct-form fieldset ::-webkit-scrollbar-thumb {
      background-color: #000; }
  .ct-form .button {
    float: right;
    background: none;
    color: #000;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    font-weight: 700;
    padding: 5px 20px; }

footer {
  transition: opacity .5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171618;
  height: 50vh;
  width: 100%; }
  footer .quote {
    opacity: .9;
    position: absolute;
    width: 80%; }
    footer .quote p {
      margin: 0;
      color: #fff;
      text-align: center;
      font-size: 17px;
      font-weight: 900; }
      footer .quote p q {
        font-weight: 700; }
  footer .social-media {
    position: absolute;
    bottom: 5%; }
    footer .social-media img {
      width: auto;
      height: 28px;
      margin: 0 8px;
      opacity: .8;
      transition: opacity .3s; }
    footer .social-media img:hover {
      opacity: 1;
      transition: opacity .8s; }

footer:hover .quote {
  opacity: 1;
  transition: opacity .5s; }

.waves {
  margin-top: 150px;
  border-bottom: #eaedfa solid 30px; }

.parallax use:nth-child(1) {
  animation: move-forever 100s linear -40s infinite;
  fill: #3556c7;
  opacity: 0.04; }

.parallax use:nth-child(2) {
  animation: move-forever 60s linear -0s infinite;
  fill: #3556c7;
  opacity: 0.03; }

.parallax use:nth-child(3) {
  animation: move-forever 40s linear -10s infinite;
  fill: #3556c7;
  opacity: 0.04; }

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%); }
  100% {
    transform: translate(85px, 0%); } }

.editorial {
  display: block;
  width: 100%;
  height: 12em;
  margin: 0; }

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width: 50em) {
  .editorial {
    height: 17vw; } }
