/*@media all and (min-width:480px) and (max-width:800px) {
  div {
    background-color:red;
  }
}*/
@media all and (min-width: 1270px) {
  .about .bckg-text {
    font-size: 165px; } }

@media all and (max-width: 950px) {
  .offer .main {
    width: 60%; } }

@media all and (max-width: 650px) {
  header .header-aligner {
    padding-left: 40px;
    padding-right: 40px; }
  .heading-page .slider-cont {
    padding-left: 40px;
    padding-right: 40px; }
  .offer {
    padding: 85px 0; }
    .offer .main {
      width: 60%; }
      .offer .main .product .product-desc {
        font-size: 17px; } }

@media all and (max-width: 570px) {
  header .header-aligner {
    padding-left: 35px;
    padding-right: 35px; }
  .heading-page .slider-cont {
    padding-left: 35px;
    padding-right: 35px; }
  .offer .main {
    flex-direction: column;
    align-items: center; }
    .offer .main .product {
      margin-bottom: 40px; }
      .offer .main .product:last-child {
        margin-bottom: 0; }
      .offer .main .product .product-desc {
        font-size: 20px; }
      .offer .main .product .icon {
        width: 75px; } }

@media all and (max-height: 800px) {
  .nav-height {
    height: 45px; }
  .heading-page .slider-cont {
    padding-top: 45px;
    padding-bottom: 45px; } }

@media all and (max-height: 700px) {
  .nav-height {
    height: 40px; }
  .heading-page .slider-cont {
    padding-top: 40px;
    padding-bottom: 40px; } }

@media all and (max-height: 450px) {
  header .header-aligner {
    padding-left: 20px;
    padding-right: 20px; }
  .heading-page .slider-cont {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 0; }
  .nav-height {
    height: 40px; } }

@media all and (max-width: 500px) {
  header .header-aligner {
    padding-left: 20px;
    padding-right: 20px; }
  .heading-page .slider-cont {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 0; }
    .heading-page .slider-cont .slide.s-1 .head-box {
      padding: 5px 10%; }
  .nav-height {
    height: 40px; } }
